@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.footer-container {
  @include flex-center;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 12px;

  .heading {
    text-align: center;
    width: 50%;
    color: $text-color;
    font-weight: 600;
    font-size: 3vw;

    .highlight {
      font-size: 3vw;
      font-weight: 600;
    }

    @include respond(md) {
      font-size: 5vw;
      width: 80%;

      .highlight {
        font-size: 5vw;
      }
    }
  }

  button {
    @include primary-button;
    transition: all 0.2s linear;

    &:hover {
      transform: translateY(-2px);
    }
  }

  .section-wrapper {
    display: flex;
    gap: 32px;
    width: 30%;
    justify-content: space-between;

    @include respond(md) {
      width: 80%;
    }

    .each-section {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .section-header,
      .section-navs {
        color: $text-color;
        display: flex;
        flex-direction: column;
        gap: 6px;

        .section-nav {
          color: $text-color;
          cursor: pointer;

          &:hover {
            color: $text-highlight;
          }
        }
      }

      .section-header {
        font-weight: 600;
      }
    }
  }

  .polices-social-wrapper {
    padding-top: 20px;
    border-top: 1px solid $secondary;
    width: 90%;
    color: $text-color;
    @include flex-space-between;

    @include respond(md) {
      flex-direction: column;
    }
  }
}